:root {
    --blue: #2196F3;
    --black: #212121;
    --pureblack: #000000;
    --grey: #757575;
    --white: #FFFFFF;
    --darkgrey: #2F303A;
    --greyish: #F5F4FA;
}

.body {
    font-family: Roboto, sans-serif;
    color: var(--black);
    background-color: var(--white);
}

.header {
    font-weight: 500;
    font-size: 14px;
    background-color: var(--white);
}

.navigation-logo-link {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:var(--blue);
    text-decoration: none;
}

.navigation-list {
    list-style: none;
}

.logo-head {
    color:var(--pureblack);
}

.navigation-link {
    line-height: 1.1;
    text-decoration: none;
    color: var(--black)
}

.navigation-link:hover,
.navigation-link:focus {
    line-height: 1.1;
    color: var(--blue);
}

.header-list {
    list-style: none;
}

.header-contact {
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--grey);
    text-decoration: none;
}

.header-contact:hover,
.header-contact:focus {
    color: var(--blue);
}

.hero-list {
    list-style-type: none;
}
.button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--black);
    cursor: pointer;
    background-color: var(--greyish);
    }

.button:hover, .button:focus {
    color:var(--white);
    background-color: var(--blue);
}

.project-list {
    list-style-type: none;
}

.project-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--black);
}

.project-text {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color:var(--grey);
}

.footer {
    font-family: Roboto, sans-serif;
    color:var(--white);
    background-color:var(--darkgrey);
}

.footer-link {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:var(--blue);
    text-decoration: none;
}

.footer-logo {
    color:var(--white);
}

.footer-list {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    list-style: none;
}

.footer-address {
    color:var(--white);
    text-decoration: none;
    font-style: normal;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--blue);
}